@using QuizTime.Client.BlazorWasm.Features.Game
@using QuizTime.Client.BlazorWasm.Shared.UI.Composite
@using QuizTime.Client.BlazorWasm.Shared.UI.Element
@using QuizTime.Shared.Data

@inherits QuizTime.Client.BlazorWasm.Shared.UI.StateComponentBase

<Header Title="Question" ShowCloseButton="true" OnClose="OnClickClose"/>
<ContentArea CustomClass="flex flex-row justify-center">

<div class="flex flex-col pt-3 pb-5 space-y-3">
    <div class="flex-auto text-4xl px-6 flex flex-col space-y-10">
        <div class="pt-8 flex flex-row justify-center item-center">
            <h2 class="text-6xl">@Player.Name</h2>
        </div>
        <div>
        @switch (QuizItem.QuestionType)
        {
            case QuestionTypeEnum.MultipleChoice:
                <p>@QuizItem.Question[0]</p>
                <ol class="pt-8">
                    @if (QuizItem.Question.Length > 1)
                    {
                        <li class="@(ChoiceOptionStyle(0))">a) @QuizItem.Question[1]</li>
                    }
                    @if (QuizItem.Question.Length > 2)
                    {
                        <li class="@(ChoiceOptionStyle(1))">b) @QuizItem.Question[2]</li>
                    }
                    @if (QuizItem.Question.Length > 3)
                    {
                        <li class="@(ChoiceOptionStyle(2))">c) @QuizItem.Question[3]</li>
                    }
                    @if (QuizItem.Question.Length > 4)
                    {
                        <li class="@(ChoiceOptionStyle(3))">d) @QuizItem.Question[4]</li>
                    }
                </ol>
                break;

            case QuestionTypeEnum.Boolean:
                <strong>True or False?</strong>
                <p class="pt-3">@QuizItem.Question[0]</p>
                break;

            case QuestionTypeEnum.Verbal:
                <p>@QuizItem.Question[0]</p>
                break;
            
            default:
                break;
        }
        </div>
        
        
    </div>

    
    <div class="flex flex-row justify-around items-center text-md md:text-2xl">
        @if (!ShowAnswer)
        {
            <MainButton Text="Skip" OnClick="OnSkipHandlerAsync" Color="@(State.SecondaryColorString)"/>

            @switch (QuizItem.QuestionType)
            {
                case QuestionTypeEnum.MultipleChoice:
                    @if (QuizItem.Question.Length > 1)
                    {
                        <MainButton Text="a" Color="@(State.ThemeColorString)" OnClick="@(e => OnAnswerHandlerAsync(0))"/>
                    }
                    @if (QuizItem.Question.Length > 2)
                    {
                        <MainButton Text="b" Color="@(State.ThemeColorString)" OnClick="@(e => OnAnswerHandlerAsync(1))"/>
                    }
                    @if (QuizItem.Question.Length > 3)
                    {
                        <MainButton Text="c" Color="@(State.ThemeColorString)" OnClick="@(e => OnAnswerHandlerAsync(2))"/>
                    }
                    @if (QuizItem.Question.Length > 4)
                    {
                        <MainButton Text="d" Color="@(State.ThemeColorString)" OnClick="@(e => OnAnswerHandlerAsync(3))"/>
                    }
                    
                    break;
                    
                case QuestionTypeEnum.Boolean:
                    <MainButton Text="True" Color="@(State.ThemeColorString)" OnClick="@(e => OnAnswerHandlerAsync(0))"/>
                    <MainButton Text="False" Color="@(State.ThemeColorString)" OnClick="@(e => OnAnswerHandlerAsync(1))"/>
                    break;
                case QuestionTypeEnum.Verbal:
                    <MainButton Text="Do you have your answer?" Color="@(State.ThemeColorString)" OnClick="@(e => OnAnswerHandlerAsync(0))"/>
                    break;
                
                default:
                    break;
            }
        }
        else
        {
            <button class="p-3 bg-@(QuizItem.AnswerIndex == UserAnswerIndex ? State.TrinaryColorString : State.SecondaryColorString)-600 flex items-center justify-center rounded-lg text-white">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                @if(QuizItem.AnswerIndex == UserAnswerIndex)
                {
                    <span>Correct!</span>
                }
                else
                {
                    <span>Incorrect</span>
                }
            </button>
        }
    </div>

</div>
</ContentArea>

<Footer />

@code
{
    private GameState GameState => GetState<GameState>();

    private IQuizItem QuizItem => GameState.CurrentQuizItem;

    private Player Player => GameState.CurrentPlayer;

    private bool ShowAnswer {get; set;}
    private int UserAnswerIndex {get; set;}

    protected override void OnInitialized()
    {
        ShowAnswer = false;
        base.OnInitialized();
    }

    private void OnClickClose()
    {
        Mediator.Send(new GameState.UpdateGameModeAction { Value = GameMode.NewGame });
    }

    private async Task OnSkipHandlerAsync()
    {
        await Mediator.Send(new GameState.UpdatePlayModeAction { Value = PlayMode.OnDeck, GotoNextPlayerDisabled = true });
    }

    private async Task OnAnswerHandlerAsync(int answerIndex)
    {
        UserAnswerIndex = answerIndex;
        ShowAnswer = true;
        StateHasChanged();
        await Task.Delay(2000);
        ShowAnswer = false;
        UserAnswerIndex = -1;
        await Mediator.Send(new GameState.UpdatePlayModeAction { Value = PlayMode.OnDeck });
    }

    private string ChoiceOptionStyle(int index)
    {   
        if(ShowAnswer)
        {
            return index == QuizItem.AnswerIndex ? 
                $"animate-pulse text-{State.TrinaryColorString}-600" : 
                "text-{State.ThemeColorString}-100";
        }
        return null;        
    }
}    